{% extends 'gallery/base.html'%} {% block content%}
<div class="container-fluid" id="background">
  <div class="row text-center">
    <div class="col">
      {% if locations%}
      <div class="locations">
        <h2 class="text-light">Locations</h2>
        {% for location in locations %}

        <span class="badge bg-light text-dark mr-2">
          <a href="/location/{{location.name}}">{{location.name}}</a>
        </span>
        {% endfor %}
      </div>
      {% else %}
      <a href="/" class="btn btn-secondary"> &#60;&#60;Back Home </a>
      {% endif %}
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div id="gallery me-1" class="text-center">
        {% load random_numbers %} {% for image in images %}
        <figure
          class="pic{% random_int 1 11 %}"
          data-toggle="modal"
          data-target="#{{image.id}}"
        >
          <img src="{{ image.image_url.url }}" alt="{{ image.name }}" />
          <figcaption class="marker">{{ image.name }}</figcaption>
          <small><a href="#" class="btn btn-secondary">View Details</a></small>
        </figure>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
